<?xml version="1.0" encoding="utf-8"?>
<!-- $Revision$ -->
<!-- EN-Revision: 0c9c2dd669fe9395eaa73d487fbd160f9057429a Maintainer: hirokawa Status: ready -->
<!-- CREDITS: shimooka,mumumu -->
<!-- splitted from ./en/functions/exec.xml, last change in rev 1.24 -->
<refentry xml:id="function.system" xmlns="http://docbook.org/ns/docbook">
 <refnamediv>
  <refname>system</refname>
  <refpurpose>外部プログラムを実行し、出力を表示する</refpurpose>
 </refnamediv>

 <refsect1 role="description">
  &reftitle.description;
  <methodsynopsis>
   <type class="union"><type>string</type><type>false</type></type><methodname>system</methodname>
   <methodparam><type>string</type><parameter>command</parameter></methodparam>
   <methodparam choice="opt"><type>int</type><parameter role="reference">result_code</parameter><initializer>&null;</initializer></methodparam>
  </methodsynopsis>
  <para>
   <function>system</function> は、指定した
   <parameter>command</parameter> を実行し、結果を出力する C 言語の
   system 関数に似ています。
  </para>
  <para>
   PHP をサーバーモジュールとして実行している場合、
   <function>system</function> のコールにより、各行を出力した後、
   Web サーバーの出力バッファが自動的にクリアされます。
  </para>
  <para>
   コマンドを実行し、何の加工もせずに全てのデータをコマンドから直接
   返す必要がある場合、<function>passthru</function> 関数を使用してください。
  </para>
 </refsect1>

 <refsect1 role="parameters">
  &reftitle.parameters;
  <para>
   <variablelist>
    <varlistentry>
     <term><parameter>command</parameter></term>
     <listitem>
      <para>
       実行するコマンド。
      </para>
     </listitem>
    </varlistentry>
    <varlistentry>
     <term><parameter>result_code</parameter></term>
     <listitem>
      <para>
       引数 <parameter>result_code</parameter> が存在する場合、
       実行したコマンドの返すステータスがこの変数に書かれます。
      </para>
     </listitem>
    </varlistentry>
   </variablelist>
  </para>
 </refsect1>

 <refsect1 role="returnvalues">
  &reftitle.returnvalues;
  <para>
   成功時はコマンド出力の最後の行を返し、失敗時は &false; を返します。
  </para>
 </refsect1>

 <refsect1 role="examples">
  &reftitle.examples;
  <para>
   <example>
    <title><function>system</function> の例</title>
    <programlisting role="php">
<![CDATA[
<?php
echo '<pre>';

// シェルコマンド "ls" の全ての結果を出力し、出力の最後の
// 行を $last_line に格納します。シェルコマンドの戻り値は
// $retval に格納されます。
$last_line = system('ls', $retval);

// 追加情報を表示します。
echo '
</pre>
<hr />Last line of the output: ' . $last_line . '
<hr />Return value: ' . $retval;
?>
]]>
    </programlisting>
   </example>
  </para>
 </refsect1>

 <refsect1 role="notes">
  &reftitle.notes;
  &warn.escapeshell;
  &note.exec-bg;
 </refsect1>

 <refsect1 role="seealso">
  &reftitle.seealso;
  <para>
   <simplelist>
    <member><function>exec</function></member>
    <member><function>passthru</function></member>
    <member><function>popen</function></member>
    <member><function>escapeshellcmd</function></member>
    <member><function>pcntl_exec</function></member>
    <member><link linkend="language.operators.execution">バッククォート演算子</link></member>
   </simplelist>
  </para>
 </refsect1>
</refentry>
<!-- Keep this comment at the end of the file
Local variables:
mode: sgml
sgml-omittag:t
sgml-shorttag:t
sgml-minimize-attributes:nil
sgml-always-quote-attributes:t
sgml-indent-step:1
sgml-indent-data:t
indent-tabs-mode:nil
sgml-parent-document:nil
sgml-default-dtd-file:"~/.phpdoc/manual.ced"
sgml-exposed-tags:nil
sgml-local-catalogs:nil
sgml-local-ecat-files:nil
End:
vim600: syn=xml fen fdm=syntax fdl=2 si
vim: et tw=78 syn=sgml
vi: ts=1 sw=1
-->
