<?xml version="1.0" encoding="utf-8"?>
<!-- $Revision$ -->
<!-- EN-Revision: f62b7ff38a936987ca5fd74d3effcfce181f0fa3 Maintainer: takagi Status: ready -->
 <sect1 xml:id="internals2.memory.persistence" xmlns="http://docbook.org/ns/docbook" xmlns:xlink="http://www.w3.org/1999/xlink">
  <title>データの持続性</title>
  
  <simpara>
  </simpara>

 </sect1>
