<?xml version="1.0" encoding="utf-8"?>
<!-- $Revision: 1.22 $ -->
 <chapter id="configuration">
  <title>設定</title>
  
  <sect1 id="configuration.file">
   <title>設定ファイル</title>
   
   <simpara>
    設定ファイル(PHP 3.0では <filename>php3.ini</filename>、PHP 4.0 で
    は <filename>php.ini</filename>)は、PHP の起動時に読み込まれます。
    PHPのサーバーモジュール版では、このファイルは、Web サーバーの起動
    時に一度だけ読み込まれます。<acronym>CGI</acronym> 版では、起動す
    る度にこのファイルが読み込まれます。
   </simpara>
   
   <para>
    <example>
     <title>php.iniの例</title>
     <programlisting role="ini">
<![CDATA[
; 引用符をつけないセミコロン(;)の後のテキストは全て無視されます。
[php] ; セクションマーカ (角括弧の中のテキスト) は無視されます
; 論理値は次のどれかとなります:
;    true, on, yes
; または false, off, no, none
register_globals = off
magic_quotes_gpc = yes

; 文字列を二重引用符で括ることも可能です
include_path = ".:/usr/local/lib/php"

; バックスラッシュは他の文字と同様に処理されます
include_path = ".;c:\php\lib"
]]>
</programlisting>
<!-- TODO: add more details about values and expressions -->
    </example>
   </para>

   <simpara>
    PHP を Apache モジュールとして使用する場合、Apache用設定ファイルや
    .htaccess ファイルに命令を記述することによりPHPの設定を行うことが
    可能です(ただし、"AllowOverride Options" もしくは "AllowOverride
    All" が設定されている必要があります)。
   </simpara>
   
   <simpara>
    PHP 3.0 においては、<filename>php3.ini</filename>の各ディレクティ
    ブに対応した Apache 用ディレクティブが存在し、PHP 用のディレクティ
    ブの前に "php3_" を付けて使用することにより、設定の変更が可能です。
   </simpara>
   
   <para>
    PHP 4.0 においては、PHP設定用の複数のApacheディレクティブがあり、
    Apacheの設定ファイルでPHPの設定を変更可能です。
    <variablelist>
     <varlistentry>
      <term>
       <systemitem role="directive">php_value</systemitem>
       <parameter>name</parameter>
       <parameter>value</parameter>
      </term>
      <listitem>
       <para>
	指令した変数の値を設定します。
       </para>
      </listitem>
     </varlistentry>
     <varlistentry>
      <term>
       <systemitem role="directive">php_flag</systemitem>
       <parameter>name</parameter>
       <parameter>on|off</parameter>
      </term>
      <listitem>
       <para>
	論理値のオプション設定を変更するために使用します。</para>
      </listitem>
     </varlistentry>
     <varlistentry>
      <term>
       <systemitem role="directive">php_admin_value</systemitem>
       <parameter>name</parameter>
       <parameter>value</parameter>
      </term>
      <listitem>
       <para>
	指定した変数の値を設定します。"Admin" は、メインの Apache 用設
	定ファイルにおいてのみ設定可能で、.htaccess ファイルからは設定
	できません。
       </para>
      </listitem>
     </varlistentry>
     <varlistentry>
      <term>
       <systemitem role="directive">php_admin_flag</systemitem>
       <parameter>name</parameter>
       <parameter>on|off</parameter>
      </term>
      <listitem>
       <para>
	論理値のオプションを設定するために使用されます。
	(Adminの意味は上記のオプションと同じです。)
      </para>
      </listitem>
     </varlistentry>
    </variablelist>
   </para>
   <para>
    <example>
     <title>Apache 設定の例</title>
     <programlisting role="ini">
<![CDATA[
<IfModule mod_php4.c>
  php_value include_path ".:/usr/local/lib/php"
  php_flag safe_mode on
</IfModule>
<IfModule mod_php3.c>
  php3_include_path ".:/usr/local/lib/php"
  php3_safe_mode on
</IfModule>
]]>
</programlisting>
    </example>
   </para>

   <simpara>
    <function>phpinfo</function> の出力を見ることにより、設定値を確認
    することができます。各設定の値は、<function>get_cfg_var</function>
    により得ることができます。
   </simpara>
   
   <sect2 id="ini.sect.general">
    <title>一般的な設定用の命令</title>
    <para>
     <variablelist>
      <varlistentry id="ini.allow-url-fopen">
       <term>
	<parameter>allow_url_fopen</parameter>
	<type>論理値</type>
       </term>
       <listitem>
	<para>
	 このオプションは、ファイルのようなURLオブジェクトをアクセスす
	 ることを可能にするURL対応のfopenラッパーを利用可能にします。
	 デフォルトのラッパーは、ftp または http プロトコルを使用して
	 <link linkend="features.remote-files">リモートファイル</link>をア
	 クセスする用途に対応しており、zlib のようないくつかの拡張によ
	 り追加のラッパを登録可能です。
	</para>
	
	<note>
	 <para>
	  このオプションは、バージョン 4.0.3 のリリース直後に導入され
	  ました。4.0.3 までのバージョンでは、この機能を設定スイッチ
	  <link linkend="install.configure.disable-url-fopen-wrapper">
	   <parameter>--disable-url-fopen-wrapper</parameter></link>
	  を使用してコンパイル時にのみ無効にすることが可能です。
	 </para>
	</note>
	
       </listitem>
      </varlistentry>
      
      <varlistentry id="ini.asp-tags">
       <term>
	<parameter>asp_tags</parameter>
	<type>論理値</type>
       </term>
       <listitem>
	<simpara>
	 ASP 形式のタグ &lt;% %&gt; を通常のタグ &lt;?php ?&gt; 
	 に加えて使用可能にします。
	 このスイッチにより、出力の短縮形
	 &lt;%= $value %&gt; も使用できるようになります。
	 詳細な情報は、<link linkend="language.basic-syntax.phpmode">
	  HTML からのエスケープ</link>を参照下さい。
	</simpara>
	
	<note>
	 <para>ASP形式のタグは3.0.4で追加されました。</para>
	</note>
	
       </listitem>
      </varlistentry>
      
      <varlistentry id="ini.auto-append-file">
       <term>
	<parameter>auto_append_file</parameter>
	<type>文字列</type>
       </term>
       <listitem>
	<para>
	 メインファイルの後に自動的に追加されるファイルの
	 名前を指定します。
	 このファイルは、<function>include</function> 関数のコール時
	 と同様に読み込まれます。
	 このため、<link linkend="ini.include-path">include_path</link> 
	 が使用されます。
	</para>
	<para>
	 <systemitem class="constant">none</systemitem> を値として
	 指定するとこの自動付加機能はオフとなります。		
	 <note>
	  <simpara>
	   スクリプトが <function>exit</function> で終了する場合、
	   この自動付加機能は使用されません 。
	  </simpara>
	 </note>
	</para>
       </listitem>
      </varlistentry>
      
      <varlistentry id="ini.auto-prepend-file">
       <term>
	<parameter>auto_prepend_file</parameter>
	<type>文字列</type>
       </term>
       <listitem>
	<para>
	 メインファイルの前に自動的に付加されるファイルの名前を
	 指定します。
	 このファイルは、<function>include</function> 関数のコール時
	 と同様に読み込まれます。
	 このため、<link linkend="ini.include-path">include_path</link> 
	 が使用されます。
	</para>
	<para>
	 特別な値 <systemitem class="constant">none</systemitem> を指
	 定すると、ファイルを前に追加する機能は無効となります。
	</para>
       </listitem>
      </varlistentry>
      
      <varlistentry id="ini.cgi-ext">
       <term>
	<parameter>cgi_ext</parameter>
	<type>文字列</type>
       </term>
       <listitem>
	<para>
	</para>
       </listitem>
      </varlistentry>
      
      <varlistentry id="ini.display-errors">
       <term>
	<parameter>display_errors</parameter>
	<type>論理値</type>
       </term>
       <listitem>
	<para>
	 HTML 出力の一部としてエラーを画面に出力するかどうかを定義します。
	</para>
       </listitem>
      </varlistentry>
      
      <varlistentry id="ini.doc-root">
       <term>
	<parameter>doc_root</parameter>
	<type>文字列</type>
       </term>
       <listitem>
	<para>
	 サーバーにおけるPHPの"ルートディレクトリ"です。この値は空で無
	 い場合のみ使用されます。PHPが<link linkend="ini.safe-mode">セー
	 フモード</link>で設定されている場合には、このディレクトリの外
	 側にあるファイルは使用されません。
	</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.engine">
       <term>
	<parameter>engine</parameter>
	<type>論理値</type>
       </term>
       <listitem>
	<para>
	この命令は、Apache モジュール版のユーザーのみに有用です。
	この命令は、ディレクトリ毎または仮想サーバー毎に PHP による
	処理をオンまたはオフにしたいようなサイトで使用されます。
	 <filename>httpd.conf</filename> ファイルの適当な場所に
	 <userinput>engine off</userinput> などと書くことにより、
	 PHP は有効または無効となります。
	</para>
       </listitem>
      </varlistentry>
      
      <varlistentry id="ini.error-log">
       <term>
	<parameter>error_log</parameter>
	<type>文字列</type>
       </term>
       <listitem>
	<para>
	スクリプトエラーを記録するファイルの名前。特別な値
	<literal>syslog</literal> が指定された場合、エラーはシステムロ
	グの方に送られます。UNIX においては、システムログとは
	syslog(3) を意味しますが、Windows NT ではイベントログとなりま
	す。システムログは、Windows 95 ではサポートされません。
	</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.error-reporting">
       <term>
	<parameter>error_reporting</parameter>
	<type>整数</type>
       </term>
       <listitem>
	<para>
	 エラーレポートのレベルをセットします。パラメータは、ビットフィー
	 ルドを表す整数です。望みのエラーレポートレベルの値を加えて下
	 さい。
	 <table>
	  <title>エラーレポートレベル</title>
	  <tgroup cols="2">
	   <thead>
	    <row>
	     <entry>ビット値</entry>
	     <entry>有効なレポート</entry>
	    </row>
	   </thead>
	   <tbody>
	    <row>
	     <entry>1</entry>
	     <entry>通常のエラー</entry>
	    </row>
	    <row>
	     <entry>2</entry>
	     <entry>通常の警告</entry>
	    </row>
	    <row>
	     <entry>4</entry>
	     <entry>パーサのエラー</entry>
	    </row>
	    <row>
	     <entry>8</entry>
	     <entry>クリティカルでないシステム関連の警告</entry>
	    </row>
	   </tbody>
	  </tgroup>
	 </table>
	 この命令のデフォルト値は、7 です。(通常のエラー、通常の警告、
	 パーサエラーが表示されます。)
 	</para>
       </listitem>
      </varlistentry>
       
      <varlistentry id="ini.html-errors">
       <term>
        <parameter>html_errors</parameter>
        <type>論理値</type>
       </term>
       <listitem>
        <para>
	 エラーメッセージでHTMLタグを出力しない。
	</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.open-basedir">
       <term>
 	<parameter>open_basedir</parameter>
 	<type>文字列</type>
       </term>
       <listitem>
 	<para>
	 PHP によりオープン可能なファイルを指定したディレクトリツリー以下に
	 制限します。
 	</para>
 	<para>
	 スクリプトが、例えば fopen または gzopen でファイルをオープン
	 しようとした場合、そのファイルの位置が確認されます。ファイル
	 が、指定したディレクトリツリーの外側にあった場合、PHP はその
	 ファイルのオープンを拒否します。シンボリックリンクは全て解釈
	 されるので、symlink により制限を回避することは不可能です。
	</para>
 	<para>
	 特別な値 <systemitem class="constant">.</systemitem>は、スク
	 リプトが置かれているディレクトリが基本ディレクトリとして使用
	 されることを示します。
 	</para>
 	<para>
	 Windowsでは、ディレクトリはセミコロンで区切ります。他の全ての
	 システムでは、ディレクトリはコロンで区切ります。 Apache モジュー
	 ルと同様に、親ディレクトリのopen_basedirパスの設定が自動的に
	 継承されます。
	</para>
  <para>
   open_basedirで指定される値は、実際にはディレクトリ名ではなく
   プレフィクスとして機能します。つまり"open_basedir = /dir/incl"
   と指定した場合には"/dir/include"や"/dir/incls"にもアクセスする
   ことができます。特定のディレクトリ以下にアクセスを制限したい
   場合は、指定するディレクトリ名をスラッシュで終了させてください。
   例えば："open_basedir = /dir/incl/" のようにします。
  </para>
	<note>
	 <para>
	  PHP 3.0.7 から、複数ディレクトリのサポートが追加されています。
	 </para>
	</note>
	<para>
	 デフォルトでは、全てのファイルのオープンが許可されています。
	</para>
       </listitem>
      </varlistentry>
      
      <varlistentry id="ini.gpc-order">
       <term>
	<parameter>gpc_order</parameter>
	<type>文字列</type>
       </term>
       <listitem>
	<para>
	 GET/POST/COOKIE 変数処理の順番を設定します。この命令のデフォ
	 ルトの設定は、"GPC"です。例えば、これを"GP"にPHPはクッキーを
	 完全に無視し、GETメソッド変数を同名のPOSTメソッド変数で上書き
	 します。
	</para>
        <para>
	 このオプションは、PHP 4では利用できまないことに注意して下さい。
	 代わりに、<link
	 linkend="ini.variables-order">variables_order</link>を使用し
	 て下さい。
        </para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.variables-order">
       <term>
        <parameter>variables_order</parameter>
        <type>文字列</type>
       </term>
       <listitem>
        <para>
         EGPCS (Environment, GET, POST, Cookie, Server) 変数のパースの
         順番を設定します。このディレクティブのデフォルトの設定値は、
         "EGPCS"です。例えば、これを"GP"に設定するとPHPは完全に環境変
         数、クッキー、サーバ変数を無視し、GETメソッド変数を同じ名前の
         POSTメソッド変数で全て上書きするようになります。
        </para>
        <para>
         <link linkend="ini.register-globals">register_globals</link>
         も参照下さい。
        </para>
       </listitem>
      </varlistentry>
      
      <varlistentry id="ini.ignore-user-abort">
        <term>
 	<parameter>ignore_user_abort</parameter>
 	<type>文字列</type>
        </term>
        <listitem>
 	<para>
	 デフォルトで On です。 Off に変更した場合、スクリプトはクライ
	 アントが接続を切断した後で何かを出力しようとした直後に終了さ
	 れます。<function>ignore_user_abort</function> も参照下さい。
 	</para>
       </listitem>
      </varlistentry>
      
      <varlistentry id="ini.include-path">
       <term>
	<parameter>include_path</parameter>
	<type>文字列</type>
       </term>
       <listitem>
	<para>
	 <function>require</function>、<function>include</function>、
	 および <function>fopen_with_path</function> 関数がファイルを
	 探すディレクトリのリストを指定します。フォーマットは、システ
	 ムの環境変数 <envar>PATH</envar>と同じです。つまり、UNIXでは
	 コロンで、Windowsではセミコロンで区切ったディレクトリのリスト
	 で指定します。
	 <example>
	  <title>UNIX include_path</title>
	  <programlisting role="php3.ini">
<![CDATA[
include_path=.:/home/httpd/php-lib
]]>
	  </programlisting>
	 </example>
	 <example>
	  <title>Windows include_path</title>
	  <programlisting role="php3.ini">
<![CDATA[
include_path=".;c:\www\phplib"
]]>
	  </programlisting>
	 </example>
	 この命令のデフォルト値は、<literal>.</literal>(カレントディレ
	 クトリのみ)です。
	</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.isapi-ext">
       <term>
	<parameter>isapi_ext</parameter>
	<type>文字列</type>
       </term>
       <listitem>
	<para>
	</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.log-errors">
       <term>
	<parameter>log_errors</parameter>
	<type>論理値</type>
       </term>
       <listitem>
	<para>
	 スクリプトエラーメッセージをサーバーエラーログに記録する必要が
	 あるかどうかを指定します。このオプションは、サーバーの種類に依
	 存します。
	</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.magic-quotes-gpc">
       <term>
	<parameter>magic_quotes_gpc</parameter>
	<type>論理値</type>
       </term>
       <listitem>
	<para>
	 GPC(Get/Post/Cookie)処理に関するmagic_quotesの設定を行います。
	 magic_quotesがonの場合、'(シングルクオート)、&quot;(ダブルク
	 オート)、\(バックスラッシュ) 、NULLには全て自動的にバックスラッ
	 シュでエスケープ処理が行われます。magic_quotes_sybaseもonの場
	 合、シングルクオートは、バックスラッシュではなくシングルクオー
	 トでエスケープされます。
	</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.magic-quotes-runtime">
       <term>
	<parameter>magic_quotes_runtime</parameter>
	<type>論理値</type>
       </term>
       <listitem>
	<para>
 	 <parameter>magic_quotes_runtime</parameter> が有効の場合、
	 データベースおよびテクストファイルを含む外部ソースから
	 データを返す全ての関数のクオートは、バックスラッシュで
	 エスケープされます。
 	 <parameter>magic_quotes_sybase</parameter> もオンの場合、
	 シングルクオートは、バックスラッシュの代わりにシングルクオート
	 でエスケープされます。
	</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.magic-quotes-sybase">
       <term>
	<parameter>magic_quotes_sybase</parameter>
	<type>論理値</type>
       </term>
       <listitem>
	<para>
          <parameter>magic_quotes_gpc</parameter> または
          <parameter>magic_quotes_runtime</parameter> が有効の場合、
          <parameter>magic_quotes_sybase</parameter> もオンの場合に、
	  シングルクオートはバックスラッシュの代わりにシングルクオートで
	  エスケープされます。
	</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.max-execution-time">
       <term>
	<parameter>max_execution_time</parameter>
	<type>整数</type>
       </term>
       <listitem>
	<para>
	 スクリプトがパーサにより強制終了されるまでに許容される最大の
	 時間を秒単位で指定します。この命令は、いい加減に書かれたスク
	 リプトがサーバーの負荷を上げることを防止するのに役立ちます。
	 デフォルトでは、<literal>30</literal>に設定されています。
	</para>
        <para>
	 最大実行時間は、システムコール、<function>sleep</function>関
	 数等の影響を受けません。より詳細な情報については、
	 <function>set_time_limit</function>関数の説明を参照下さい。
        </para>
       </listitem>
      </varlistentry>
      
      <varlistentry id="ini.memory-limit">
       <term>
	<parameter>memory_limit</parameter>
	<type>整数</type>
       </term>
       <listitem>
	<para>
	 スクリプトが確保できる最大メモリをバイト数で指定します。
	 この命令は、いい加減に書かれたスクリプトがサーバーのメモリを
	 食いつぶすことを防止するのに役立ちます。
	</para>
       </listitem>
      </varlistentry>
      
      <varlistentry id="ini.nsapi-ext">
       <term>
	<parameter>nsapi_ext</parameter>
	<type>文字列</type>
       </term>
       <listitem>
	<para>
	</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.precision">
       <term>
        <parameter>precision</parameter>
        <type>整数</type>
       </term>
       <listitem>
        <simpara>
         浮動小数点数使用時に有効な桁数を指定します。
        </simpara>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.register-argc-argv">
       <term>
        <parameter>register_argc_argv</parameter>
        <type>論理値</type>
       </term>
       <listitem>
        <simpara>
         PHPが変数argvとargcを宣言するかどうかを指定します
         (argvにはGETの情報が格納されます)。
        </simpara>
        <simpara>
         <link linkend="commandline">コマンドライン</link>
         も参照して下さい。このディレクティブはPHP 4.0.0で
         追加されました。以前のバージョンでは常にonです。
        </simpara>
       </listitem>
      </varlistentry>
      
      <varlistentry id="ini.register-globals">
       <term>
	<parameter>register_globals</parameter>
	<type>論理値</type>
       </term>
       <listitem>		 
	<para>
	 EGPCS(Environment, GET, POST, Cookie, Server)変数をグローバル
	 変数として登録するかどうかを指定します。使用するスクリプトの
	 グローバルスコープをユーザのデータで混乱させられたくない場合
	 には、このオプションをoffにしたいと思うかかもしれません。この
	 オプションは、<link
	 linkend="ini.track-vars">track_vars</link>と組み合わせた場合
	 に最も意味があります。この場合、全てのEGPCS変数にグローバル変
	 数の配列<varname>$HTTP_ENV_VARS</varname>,
         <varname>$HTTP_GET_VARS</varname>,
         <varname>$HTTP_POST_VARS</varname>,
         <varname>$HTTP_COOKIE_VARS</varname>,
         <varname>$HTTP_SERVER_VARS</varname>を通じてアクセス可能です。
	</para>
        <para>
	 これを動作させるには、Apacheの設定ファイルのDirectoryブロック
	 にAllowOveride Allと設定する必要があることに注意して下さい。
        </para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.short-open-tag">
       <term>
	<parameter>short_open_tag</parameter>
	<type>論理値</type>
       </term>
       <listitem>
	<para>
	 PHP タグの短縮型 (<userinput>&lt;? ?&gt;</userinput>) を使用
	 可能にするかどうかを設定します。PHPをXMLと組み合わせて用いる
	 場合は、このオプションをオフにする必要があります。
	 これをオフにした場合、長い方の形式のタグ	
	 (<userinput>&lt;?php ?&gt;</userinput>)を使用する必要
	 があります。
	</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.sql.safe-mode">
       <term>
	<parameter>sql.safe_mode</parameter>
	<type>論理値</type>
       </term>
       <listitem>
	<para>
	</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.track-errors">
       <term>
	<parameter>track_errors</parameter>
	<type>論理値</type>
       </term>
       <listitem>
	<para>
	 このオプションを有効にした場合、最新のエラーメッセージを常に
	 グローバル変数 <varname>$php_errormsg</varname>で参照することが
	 できます。
	</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.track-vars">
       <term>
	<parameter>track_vars</parameter>
	<type>論理値</type>
       </term>
       <listitem>
	<para>
	このオプションを有効にした場合、環境、GET、POST、クッキー、サー
	バ変数は、グローバル連想配列<symbol>$HTTP_ENV_VARS</symbol>、
	 <symbol>$HTTP_GET_VARS</symbol>、
	<symbol>$HTTP_POST_VARS</symbol>、
	<symbol>$HTTP_COOKIE_VARS</symbol>
	<symbol>$HTTP_SERVER_VARS</symbol>でそれぞれ参照することができ
	ます。
	</para>
        <para>
         PHP 4.0.3以降、, <systemitem
         role="directive">track_vars</systemitem> は常にonとなっている
         ことに注意して下さい。
        </para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.upload-tmp-dir">
       <term>
	<parameter>upload_tmp_dir</parameter>
	<type>文字列</type>
       </term>
       <listitem>
	<para>
	 ファイルアップロード時にファイル保存に用いるテンポラリディレ
	 クトリ。PHPの実行ユーザーが書きこみ可能である必要があります。
	</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.upload-max-filesize">
       <term>
        <parameter>upload_max_filesize</parameter>
        <type>整数</type>
       </term>
       <listitem>
        <para>
	 アップロードされるファイルの最大の大きさ。値は、バイト単位
	 です。
        </para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.user-dir">
       <term>
	<parameter>user_dir</parameter>
	<type>文字列</type>
       </term>
       <listitem>
	<para>
	 PHPファイル用にユーザーのホームディレクトリとして使用する基本
	 ディレクトリの名前。例えば、<literal>public_html</literal> と
	 なります。
	</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.warn-plus-overloading">
       <term>
	<parameter>warn_plus_overloading</parameter>
	<type>論理値</type>
       </term>
       <listitem>
	<para>
	 このオプションが有効の場合、PHPは文字列中に
	 (<literal>+</literal>)演算子が使用されている場合に警告を出力
	 します。これは、文字列結合演算子 (<literal>.</literal>)を替わ
	 りに用いて書きなおす必要があるスクリプトを発見しやすくするた
	 めのものです。
	</para>
       </listitem>
      </varlistentry>

     </variablelist>
    </para>
   </sect2>

   <sect2 id="ini.sect.safe-mode">
    <title>セーフモード設定用命令</title>
    <variablelist>

     <varlistentry id="ini.safe-mode">
      <term>
       <parameter>safe_mode</parameter>
       <type>論理値</type>
      </term>
      <listitem>
       <para>
	PHPのセーフモードを有効にするかどうかを指定します。
	更に詳細情報については、
	<link linkend="security">セキュリティ</link> 及び
	<link linkend="features.safe-mode">セーフモード</link>の章
	を参照下さい。
       </para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.safe-mode-exec-dir">
      <term>
       <parameter>safe_mode_exec_dir</parameter>
       <type>文字列</type>
      </term>
      <listitem>
       <para>
	PHPがセーフモードで動作している場合、システムプログラムを実行
	する<function>system</function>および他の関数が、このディレク
	トリにないプログラムを実行することは禁止されます。
       </para>
      </listitem>
     </varlistentry>

    </variablelist>
   </sect2>

   <sect2 id="ini.sect.debugger">
    <title>デバッガー設定用命令</title>
    <variablelist>

     <varlistentry id="ini.debugger.host">
      <term>
       <parameter>debugger.host</parameter>
       <type>文字列</type>
      </term>
      <listitem>
       <para>
	デバッガーにより使用されるホストの DNS 名または IP アドレス。
       </para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.debugger.port">
      <term>
       <parameter>debugger.port</parameter>
       <type>文字列</type>
      </term>
      <listitem>
       <para>
	デバッガにより使用されるポート番号。
       </para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.debugger.enabled">
      <term>
       <parameter>debugger.enabled</parameter>
       <type>論理値</type>
      </term>
      <listitem>
       <para>
	デバッガが有効かどうかを設定します。
       </para>
      </listitem>
     </varlistentry>

    </variablelist>
   </sect2>

   <sect2 id="ini.sect.extension">
    <title>拡張ロード命令</title>
    <variablelist>
     
     <varlistentry id="ini.enable-dl">
      <term>
       <parameter>enable_dl</parameter>
       <type>論理値</type>
      </term>
      <listitem>
       <para>
	この命令は、Apacheモジュール版のPHPを使用した場合にのみ有用です。
	PHPの動的ロード拡張機能を<function>dl</function>で仮想サーバー
	毎またはディレクトリ毎にonまたはoffオフに変更することができます。
       </para>
       <para>
	動的ロード機能をオフにするのは主としてセキュリティ上の理由によ
	ります。動的ロード機能により、safe_modeおよびopen_basedirの拘
	束を全て無視することが可能になります。
       </para>
       <para>
	デフォルトでは、セーフモードを使用している場合以外、動的ロード
	が可能です。セーフモードにおいては、<function>dl</function>を
	使用することが常に不可能になります。
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.extension-dir">
      <term>
       <parameter>extension_dir</parameter>
       <type>文字列</type>
      </term>
      <listitem>
       <para>
	動的にロード可能な拡張モジュールを置くディレクトリを
	指定します。
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.extension">
      <term>
       <parameter>extension</parameter>
       <type>文字列</type>
      </term>
      <listitem>
       <para>
	PHP の起動時にロードされる動的にロード可能な拡張モジュールを
	指定します。
       </para>
      </listitem>
     </varlistentry>
     
    </variablelist>
   </sect2>

   <sect2 id="ini.sect.mysql">
    <title>MySQL 設定用命令</title>
    <variablelist>
     
     <varlistentry id="ini.mysql.allow-persistent">
      <term>
       <parameter>mysql.allow_persistent</parameter>
       <type>論理値</type>
      </term>
      <listitem>
       <para>
	継続的な MySQL 接続を許可するかどうかを指定します。
       </para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.mysql.default-host">
      <term>
       <parameter>mysql.default_host</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
	ホスト名が省略された場合にデータベースサーバーへの接続時に
	使用するデフォルトのサーバーホスト。
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.mysql.default-user">
      <term>
       <parameter>mysql.default_user</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
	ユーザー名が省略された場合にデータベースサーバーへの接続時に
	使用するデフォルトのユーザー名。
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.mysql.default-password">
      <term>
       <parameter>mysql.default_password</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
	パスワードが省略された場合にデータベースサーバーへの接続時に
	使用するデフォルトのパスワード。
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.mysql.default-port">
      <term>
       <parameter>mysql.default_port</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
	ポートを指定せずにデータベースサーバに接続を行う際に使用される
        デフォルトのTCPポート番号。デフォルト値が指定されない場合、ポー
        トは、環境変数<literal>MYSQL_TCP_PORT</literal>、
        <filename>/etc/services</filename>の
        <literal>mysql-tcp</literal>エントリ、コンパイル時の
        <literal>MYSQL_PORT</literal>定数の順番で取得されます。Win32で
        は、<literal>MYSQL_PORT</literal>定数のみが使用されます。
       </para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.mysql.default-socket">
      <term>
       <parameter>mysql.default_socket</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
	ソケット名が指定されない場合にローカルなデータベースサーバに接
        続する際に使用されるデフォルトのソケット名。
       </para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.mysql.max-persistent">
      <term>
       <parameter>mysql.max_persistent</parameter>
       <type>整数</type>
      </term>
      <listitem>
       <para>
	持続的なMySQL接続のプロセス毎の最大数。
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.mysql.max-links">
      <term>
       <parameter>mysql.max_links</parameter>
       <type>整数</type>
      </term>
      <listitem>
       <para>
	持続的接続を含むMySQL接続のプロセス毎の最大数。
       </para>
      </listitem>
     </varlistentry>
     
    </variablelist>
   </sect2>
   
   <sect2 id="ini.sect.msql">
    <title>mSQL設定用命令</title>
    <variablelist>
     
     <varlistentry id="ini.msql.allow-persistent">
      <term>
       <parameter>msql.allow_persistent</parameter>
       <type>論理値</type>
      </term>
      <listitem>
       <para>
	持続的なmSQL接続を許可するかどうかを指定します。
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.msql.max-persistent">
      <term>
       <parameter>msql.max_persistent</parameter>
       <type>整数</type>
      </term>
      <listitem>
       <para>
	持続的なmSQL接続のプロセス毎の最大数。
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.msql.max-links">
      <term>
       <parameter>msql.max_links</parameter>
       <type>整数</type>
      </term>
      <listitem>
       <para>
	持続的接続を含むmSQL接続のプロセス毎の最大数。
       </para>
      </listitem>
     </varlistentry>
     
    </variablelist>
   </sect2>
   
   <sect2 id="ini.sect.pgsql">
    <title>Postgres 設定用命令</title>
    <variablelist>
     
     <varlistentry id="ini.pgsql.allow-persistent">
      <term>
       <parameter>pgsql.allow_persistent</parameter>
       <type>論理値</type>
      </term>
      <listitem>
       <para>
	持続的なPostgres接続を許可するかどうかを指定します。
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.pgsql.max-persistent">
      <term>
       <parameter>pgsql.max_persistent</parameter>
       <type>整数</type>
      </term>
      <listitem>
       <para>
	持続的なPostgres接続のプロセス毎の最大数。
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.pgsql.max-links">
      <term>
       <parameter>pgsql.max_links</parameter>
       <type>整数</type>
      </term>
      <listitem>
       <para>
	持続的な接続を含むPostgres接続のプロセス毎の最大数。
       </para>
      </listitem>
     </varlistentry>
     
    </variablelist>
   </sect2>

   <sect2 id="ini.sect.sesam">
    <title>SESAM 設定ディレクティブ</title>
    <variablelist>
     
     <varlistentry id="ini.sesam-oml">
      <term>
       <parameter>sesam_oml</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
	ロード可能なSESAMドライバモジュールを含むBS2000 PLAM ライブラ
	リの名前。SESAM関数を使用する際に必要。BS2000 PLAMライブラリは、
	ACCESS=READ,SHARE=YES に設定する必要があります。これは、Apache
	サーバのユーザIDにより読み込み可能とする必要があるためです。
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.sesam-configfile">
      <term>
       <parameter>sesam_configfile</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
	SESAMアプリケーション設定ファイルの名前。SESAM関数を使用する際
        に必要。BS2000 ファイルは、ApacheのユーザIDにより読み込み可と
        する必要があります。
       </para>
       <para>
	アプリケーション設定ファイルは、通常、次のような設定を有してい
        ます。(SESAMリファレンスを参照)
        <informalexample>
         <programlisting role="bs2000">
<![CDATA[
CNF=B
NAM=K
NOTYPE
]]>
	 </programlisting>
        </informalexample>
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.sesam-messagecatalog">
      <term>
       <parameter>sesam_messagecatalog</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
	SESAMメッセージカタログファイルの名前。多くの場合、このディレ
	クティブは不要です。SESAMメッセージファイルがシステムのBS2000
	メッセージファイルテーブルにインストールされていない場合にのみ
	このディレクティブを設定することが可能です。
       </para>
       <para>
	メッセージカタログは、ACCESS=READ,SHARE=YES に設定する必要があ
	ります。これは、Apache サーバのユーザIDから読み込み可能とする
	必要があります。
       </para>
      </listitem>
     </varlistentry>
     
    </variablelist>
   </sect2>

   <sect2 id="ini.sect.sybase">
    <title>Sybase 設定用命令</title>
    <variablelist>
     
     <varlistentry id="ini.sybase.allow-persistent">
      <term>
       <parameter>sybase.allow_persistent</parameter>
       <type>論理値</type>
      </term>
      <listitem>
       <para>
       継続的な Sybase 接続を許可するかどうかを指定します。
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.sybase.max-persistent">
      <term>
       <parameter>sybase.max_persistent</parameter>
       <type>整数</type>
      </term>
      <listitem>
       <para>
	持続的なSybase接続のプロセス毎の最大数。
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.sybase.max-links">
      <term>
       <parameter>sybase.max_links</parameter>
       <type>整数</type>
      </term>
      <listitem>
       <para>
	持続的接続を含むSybase接続のプロセス毎の最大数。
       </para>
      </listitem>
     </varlistentry>
     
    </variablelist>
   </sect2>

   <sect2 id="ini.sect.sybct">
    <title>Sybase-CT 設定用命令</title>
    <variablelist>
     
     <varlistentry id="ini.sybct.allow-persistent">
      <term>
       <parameter>sybct.allow_persistent</parameter>
       <type>論理値</type>
      </term>
      <listitem>
       <para>
	持続的なSybase-CT 接続を許可するかどうかを指定します。
       デフォルトはonです。
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.sybct.max-persistent">
      <term>
       <parameter>sybct.max_persistent</parameter>
       <type>整数</type>
      </term>
      <listitem>
       <para>
	持続的なSybase-CT接続のプロセス毎の最大数。デフォルトは、制限
	無しを意味する-1です。 
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.sybct.max-links">
      <term>
       <parameter>sybct.max_links</parameter>
       <type>整数</type>
      </term>
      <listitem>
       <para>
	持続的接続を含むSybase-CT接続のプロセス毎の最大数。デフォルト
	は、制限無しを意味する-1です。 
       </para>
      </listitem>
     </varlistentry>
      
      <varlistentry id="ini.sybct.min-server-severity">
       <term>
        <parameter>sybct.min_server_severity</parameter>
        <type>整数</type>
       </term>
       <listitem>
        <para>	
         sybct.min_server_severity 以上の警告レベルを有する
	 サーバーメッセージは、警告としてレポートされます。
	 この値は、スクリプトから
         <function>sybase_min_server_severity</function> を
	 コールすることによりセットすることが可能です。
	 デフォルトでは、エラーをレポートする警告レベルは、
	 10 以上です。
        </para>
       </listitem>
      </varlistentry>
      
     <varlistentry id="ini.sybct.min-client-severity">
      <term>
       <parameter>sybct.min_client_severity</parameter>
       <type>整数</type>
      </term>
      <listitem>
       <para>
	警告レベルが、sybct.min_client_severity 以上のクライアントライ
	ブラリのメッセージは、警告としてレポートされます。この値は、ス
	クリプトから<function>sybase_min_client_severity</function>を
	コールすることにより設定することも可能です。デフォルトでは、エ
	ラーをレポートする警告レベルは、10以上です。
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.sybct.login-timeout">
      <term>
       <parameter>sybct.login_timeout</parameter>
       <type>整数</type>
      </term>
      <listitem>
       <para>
	接続を行う際に接続失敗を返すまでの最大の秒数。ある接続がタイム
	アウトしようとした時にmax_execution_timeを超えた場合、接続失敗
	の処理を行う前にスクリプトは終了することに注意して下さい。デフォ
	ルトは、1分です。
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.sybct.timeout">
      <term>
       <parameter>sybct.timeout</parameter>
       <type>integer</type>
      </term>
      <listitem>
       <para>
	select_db またはクエリー命令を実行する際に実行失敗を返す前の最
	大の秒数。ある命令がタイムアウトした時に、max_execution_time
	を超えた場合、動作失敗の処理を行う前にスクリプトは終了すること
	に注意して下さい。デフォルトは、制限無しです。
       </para>
      </listitem>
     </varlistentry>
     
      <varlistentry id="ini.sybct.hostname">
      <term>
       <parameter>sybct.hostname</parameter>
       <type>文字列</type>
      </term>
      <listitem>
       <para>
	sp_who により表示される際に使用される接続元のホスト名。
	デフォルトは、none です。
       </para>
      </listitem>
     </varlistentry>
     
    </variablelist>
   </sect2>

   <sect2 id="ini.sect.informix">
    <title>Informix 設定用ディレクティブ</title>
    <variablelist>
     
     <varlistentry id="ini.ifx.allow-persistent">
      <term>
       <parameter>ifx.allow_persistent</parameter>
       <type>論理値</type>
      </term>
      <listitem>
       <para>
	持続的接続を許可するか否か
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.ifx.max-persistent">
      <term>
       <parameter>ifx.max_persistent</parameter>
       <type>integer</type>
      </term>
      <listitem>
       <para>
	プロセス毎のInformix持続的接続の最大数
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.ifx.max-links">
      <term>
       <parameter>ifx.max_links</parameter>
       <type>integer</type>
      </term>
      <listitem>
       <para>
	持続的接続を含むプロセス毎のInformix接続の最大数。
       </para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.ifx.default-host">
      <term>
       <parameter>ifx.default_host</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
        <function>ifx_connect</function> または
        <function>ifx_pconnect</function> においてホスト名を省略した場
        合に接続するデフォルトのホスト。
       </para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.ifx.default-user">
      <term>
       <parameter>ifx.default_user</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
        <function>ifx_connect</function> または
        <function>ifx_pconnect</function> において
	省略した場合に使用するデフォルトのユーザーID。
       </para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.ifx.default-password">
      <term>
       <parameter>ifx.default_password</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
        <function>ifx_connect</function> または
        <function>ifx_pconnect</function> において
	省略した場合に使用するデフォルトのパスワード。
       </para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.ifx.blobinfile">
      <term>
       <parameter>ifx.blobinfile</parameter>
       <type>論理値</type>
      </term>
      <listitem>
       <para>
	ファイルに blob カラムを返したい場合に &true;、メモリに返した
	い場合に &false;を設定します。
	<function>ifx_blobinfile_mode</function>により実行時に設定を上
	書きできます。
       </para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.ifx.textasvarchar">
      <term>
       <parameter>ifx.textasvarchar</parameter>
       <type>論理値</type>
      </term>
      <listitem>
       <para>
	selectクエリーにおいてTEXTカラムを通常の文字列として返したい場
	合には&true;、BLOB IDパラメータを使用したい場合は&false;を設定
	します。<function>ifx_textasvarchar</function>により実行時に
	設定を上書きできます。
       </para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.ifx.byteasvarchar">
      <term>
       <parameter>ifx.byteasvarchar</parameter>
       <type>論理値</type>
      </term>
      <listitem>
       <para>
	selectクエリーにおいてBYTEカラムを通常の文字列として返したい場
	合には&true;、BLOB IDパラメータを使用したい場合は&false;を設定
	します。<function>ifx_textasvarchar</function>により実行時に
	設定を上書きできます。
       </para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.ifx.charasvarchar">
      <term>
       <parameter>ifx.charasvarchar</parameter>
       <type>論理値</type>
      </term>
      <listitem>
       <para>
	CHARカラムを取得する際に末尾の空白文字を取り除きたい場合には、
	 &true;を設定します。
       </para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.ifx.nullformat">
       <term>
       <parameter>ifx.nullformat</parameter>
	<type>論理値</type>
      </term>
      <listitem>
       <para>
	 &null;カラムをリテラル文字列"&null;"として返したい場合には
	 &true;、空の文字列""として返したい場合には&false;を設定します。
	 <function>ifx_nullformat</function>により実行時に設定を上書き
	 できます。
       </para>
      </listitem>
     </varlistentry>


    </variablelist>
   </sect2>

   <sect2 id="ini.sect.bcmath">
    <title>BC Math 設定用命令</title>
    <variablelist>
     
     <varlistentry id="ini.bcmath.scale">
      <term>
       <parameter>bcmath.scale</parameter>
       <type>整数</type>
      </term>
      <listitem>
       <para>
       全てのbcmath関数に適用する10進桁数。
       </para>
      </listitem>
     </varlistentry>
     
    </variablelist>
   </sect2>

   <sect2 id="ini.sect.browscap">
    <title>ブラウザ機能設定用命令</title>
    <variablelist>
     
     <varlistentry id="ini.browscap">
      <term>
       <parameter>browscap</parameter>
       <type>文字列</type>
      </term>
      <listitem>
       <para>
	ブラウザ機能ファイルの名前。<function>get_browser</function>も
	参照下さい。
       </para>
      </listitem>
     </varlistentry>
     
    </variablelist>
   </sect2>

   <sect2 id="ini.sect.uodbc">
    <title>Unified ODBC 設定用ディレクティブ</title>
    <variablelist>
     
     <varlistentry id="ini.uodbc.default-db">
      <term>
       <parameter>uodbc.default_db</parameter>
       <type>文字列</type>
      </term>
      <listitem>
       <para>
	<function>odbc_connect</function> または
	<function>odbc_pconnect</function> のどちらも指定されていない
	場合に使用するODBC データソース。
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.uodbc.default-user">
      <term>
       <parameter>uodbc.default_user</parameter>
       <type>文字列</type>
      </term>
      <listitem>
       <para>
	<function>odbc_connect</function> または
	<function>odbc_pconnect</function> のどちらも指定されていない
	場合に使用するユーザ名。
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.uodbc.default-pw">
      <term>
       <parameter>uodbc.default_pw</parameter>
       <type>文字列</type>
      </term>
      <listitem>
       <para>
	<function>odbc_connect</function> または
	<function>odbc_pconnect</function> のどちらも指定されていない
	場合に使用するパスワード。
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.uodbc.allow-persistent">
      <term>
       <parameter>uodbc.allow_persistent</parameter>
       <type>論理値</type>
      </term>
      <listitem>
       <para>
       継続的な ODBC 接続を許可するかどうか指定します。
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.uodbc.max-persistent">
      <term>
       <parameter>uodbc.max_persistent</parameter>
       <type>integer</type>
      </term>
      <listitem>
       <para>
       継続的な ODBC 接続のプロセス毎の最大数。
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.uodbc.max-links">
      <term>
       <parameter>uodbc.max_links</parameter>
       <type>integer</type>
      </term>
      <listitem>
       <para>
	継続的な接続を含むODBC接続のプロセス毎の最大数。
       </para>
      </listitem>
     </varlistentry>
     
    </variablelist>
   </sect2>

   <sect2 id="ini.sect.mbstring">
    <title>マルチバイト文字列設定用ディレクティブ</title>
    <variablelist>
     
     <varlistentry id="ini.mbstring.internal-encoding">
      <term>
       <parameter>mbstring.internal_encoding</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
        <literal>mbstring.internal_encoding</literal> は、内部文字エン
         コーディングのデフォルト値を定義します。(PHP-4.0.6以降)
       </para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.mbstring.http-input">
      <term>
       <parameter>mbstring.http_input</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
        <literal>mbstring.http_input</literal> は、HTTP入力エンコーディ
         ングのデフォルト値を定義します。(PHP-4.0.6以降)
       </para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.mbstring.http-output">
      <term>
       <parameter>mbstring.http_output</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
        <literal>mbstring.http_output</literal> は、HTTP出力エンコーディ
         ングのデフォルト値を定義します。(PHP-4.0.6以降)
       </para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.mbstring.detect-order">
      <term>
       <parameter>mbstring.detect_order</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
        <literal>mbstring.detect_order</literal>は、文字エンコーディン
        グ検出の順位のデフォルト値を定義します。(PHP-4.0.6以降)
       </para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.mbstring.substitute-character">
      <term>
       <parameter>mbstring.substitute_character</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
        <literal>mbstring.substitute_character</literal> は、無効な文
        字コードに関する代替文字を定義します。(PHP-4.0.6以降)
       </para>
      </listitem>
     </varlistentry>
    </variablelist>
   </sect2>

  </sect1>

 </chapter>

<!-- Keep this comment at the end of the file
Local variables:
mode: sgml
sgml-omittag:t
sgml-shorttag:t
sgml-minimize-attributes:nil
sgml-always-quote-attributes:t
sgml-indent-step:1
sgml-indent-data:t
indent-tabs-mode:nil
sgml-parent-document:nil
sgml-default-dtd-file:"../../manual.ced"
sgml-exposed-tags:nil
sgml-local-catalogs:nil
sgml-local-ecat-files:nil
End:
-->
