 <chapter id="configuration">
  <title>設定</title>
  
  <sect1 id="configuration.file">
   <title>設定ファイル</title>

   <simpara>
    設定ファイル(PHP 3.0では <filename>php3.ini</filename>、
    PHP 4.0 では <filename>php.ini</filename>)
    は、PHP の起動時に読み込まれます。
    PHP のサーバー版では、このファイルは、Web サーバーの
    起動時にのみ一度だけ読み込まれます。
    <acronym>CGI</acronym> 版では、起動する度にこのファイルが読み込まれます。
   </simpara>

   <simpara>
    PHP を Apache モジュールとして使用する場合、Apache 用
    設定ファイルや .htaccess ファイルに命令を記述することにより
    PHPの設定を行うことが可能です。
   </simpara>
   
   <simpara>
    PHP 3.0 においては、<filename>php3.ini</filename> の各ディレクティブに
    対応した Apache 用ディレクティブが存在し、
    PHP 用のディレクティブの前に "php3_" を付けて使用することにより、
    設定の変更が可能です。
   </simpara>

   <para>
    PHP 4.0 においては、PHP 用設定を変更可能なApache用ディレクティブは、
    僅かしかありません。
    <variablelist>
     <varlistentry>
      <term>
       <systemitem role="directive">php_value</systemitem>
       <parameter>name</parameter>
       <parameter>value</parameter>
      </term>
      <listitem>
       <para>
       指令した変数の値を設定します。</para>
      </listitem>
     </varlistentry>
     <varlistentry>
      <term>
       <systemitem role="directive">php_flag</systemitem>
       <parameter>name</parameter>
       <parameter>on|off</parameter>
      </term>
      <listitem>
       <para>
       論理値のオプション設定を変更するために使用します。</para>
      </listitem>
     </varlistentry>
     <varlistentry>
      <term>
       <systemitem role="directive">php_admin_value</systemitem>
       <parameter>name</parameter>
       <parameter>value</parameter>
      </term>
      <listitem>
       <para>
       指定した変数の値を設定します。
       "Admin" は、メインの Apache 用設定ファイルにおいてのみ
       設定可能で、.htaccess ファイルからは設定できません。</para>
      </listitem>
     </varlistentry>
     <varlistentry>
      <term>
       <systemitem role="directive">php_admin_flag</systemitem>
       <parameter>name</parameter>
       <parameter>on|off</parameter>
      </term>
      <listitem>
       <para>
       論理値のオプションを設定するために使用されます。
       (Adminの意味は上記のオプションと同じです。)</para>
      </listitem>
     </varlistentry>
    </variablelist></para>

   <simpara>
   <function>phpinfo</function> の出力を見ることにより、
   設定値を確認することができます。
   各設定の値は、<function>get_cfg_var</function> により
   得ることができます。</simpara>
   
   <sect2 id="ini.sect.general">
    <title>一般的な設定用の命令</title>
    <para>
     <variablelist>
      
      <varlistentry id="ini.asp-tags">
       <term>
	<parameter>asp_tags</parameter>
	<type>boolean</type>
       </term>
       <listitem>
	<simpara>
	 ASP 形式のタグ &lt;% %&gt; を通常のタグ &lt;?php ?&gt; 
	 に加えて使用可能にします。
	 このスイッチにより、出力の短縮形
	 &lt;%= $value %&gt; も使用できるようになります。
	 詳細な情報は、<link linkend="language.basic-syntax.phpmode">
	  HTML からのエスケープ</link>を参照下さい。
	</simpara>

	<note>
	 <para>ASP形式のタグは3.0.4で追加されました。</para>
	</note>

       </listitem>
      </varlistentry>
      
      <varlistentry id="ini.auto-append-file">
       <term>
	<parameter>auto_append_file</parameter>
	<type>文字列</type>
       </term>
       <listitem>
	<para>
	 メインファイルの後に自動的に追加されるファイルの
	 名前を指定します。
	 このファイルは、<function>include</function> 関数のコール時
	 と同様に読み込まれます。
	 このため、<link linkend="ini.include-path">include_path</link> 
	 が使用されます。
	</para>
	<para>
	 <systemitem class="constant">none</systemitem> を値として
	 指定するとこの自動付加機能はオフとなります。		
	 <note>
	  <simpara>
	   スクリプトが <function>exit</function> で終了する場合、
	   この自動付加機能は使用されません 。
	  </simpara>
	 </note>
	</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.auto-prepend-file">
       <term>
	<parameter>auto_prepend_file</parameter>
	<type>文字列</type>
       </term>
       <listitem>
	<para>
	 メインファイルの前に自動的に付加されるファイルの名前を
	指定します。
	 このファイルは、<function>include</function> 関数のコール時
	 と同様に読み込まれます。
	 このため、<link linkend="ini.include-path">include_path</link> 
	 が使用されます。
	</para>
	<para>
	 <systemitem class="constant">none</systemitem> を値として
	 指定すると、ファイルを前に追加する機能はオフとなります。
	</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.cgi-ext">
       <term>
	<parameter>cgi_ext</parameter>
	<type>文字列</type>
       </term>
       <listitem>
	<para>
	</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.display-errors">
       <term>
	<parameter>display_errors</parameter>
	<type>論理値</type>
       </term>
       <listitem>
	<para>
	 HTML 出力の一部としてエラーを画面に出力するかどうかを定義します。
	</para>
       </listitem>
      </varlistentry>
      
      <varlistentry id="ini.doc-root">
       <term>
	<parameter>doc_root</parameter>
	<type>文字列</type>
       </term>
       <listitem>
	<para>
	 サーバーにおけるPHPの"ルートディレクトリ"です。
	 この値は空で無い場合のみ使用されます。
	 PHPが<link linkend="ini.safe-mode">セーフモード</link>
	 で設定されている場合には、このディレクトリの外側にあるファイルは
	 使用されません。
	</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.engine">
       <term>
	<parameter>engine</parameter>
	<type>論理値</type>
       </term>
       <listitem>
	<para>
	この命令は、Apache モジュール版のユーザーのみに有用です。
	この命令は、ディレクトリ毎または仮想サーバー毎に PHP による
	処理をオンまたはオフにしたいようなサイトで使用されます。
	 <filename>httpd.conf</filename> ファイルの適当な場所に
	 <userinput>engine off</userinput> などと書くことにより、
	 PHP は有効または無効となります。
	</para>
       </listitem>
      </varlistentry>
      
      <varlistentry id="ini.error-log">
       <term>
	<parameter>error_log</parameter>
	<type>文字列</type>
       </term>
       <listitem>
	<para>
	スクリプトエラーを記録するファイルの名前。
	<literal>syslog</literal> という名前が指定された場合、
	エラーはシステムログの方に送られます。
	UNIX においては、システムログとは syslog(3) を意味しますが、
	Windows NT ではイベントログとなります。
	システムログは、Windows 95 ではサポートされません。</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.error-reporting">
       <term>
	<parameter>error_reporting</parameter>
	<type>整数</type>
       </term>
       <listitem>
	<para>
	エラーレポートのレベルをセットします。
	パラメータは、ビットフィールドを表す整数です。
	望みのエラーレポートレベルの値を加えて下さい。
	 <table>
	  <title>エラーレポートレベル</title>
	  <tgroup cols="2">
	   <thead>
	    <row>
	     <entry>ビット値</entry>
	     <entry>有効なレポート</entry>
	    </row>
	   </thead>
	   <tbody>
	    <row>
	     <entry>1</entry>
	     <entry>通常のエラー</entry>
	    </row>
	    <row>
	     <entry>2</entry>
	     <entry>通常の警告</entry>
	    </row>
	    <row>
	     <entry>4</entry>
	     <entry>パーサのエラー</entry>
	    </row>
	    <row>
	     <entry>8</entry>
	     <entry>クリティカルでないシステム関連の警告</entry>
	    </row>
	   </tbody>
	  </tgroup>
	 </table>
	 この命令のデフォルト値は、7 です。(通常のエラー、通常の警告、
	 パーサエラーが表示されます。)
 	</para>
        </listitem>
       </varlistentry>
       
       <varlistentry id="ini.open-basedir">
        <term>
 	<parameter>open_basedir</parameter>
 	<type>文字列</type>
        </term>
        <listitem>
 	<para>
	PHP によりオープン可能なファイルを指定したディレクトリツリー以下に
	制限します。
 	</para>
 	<para>
	スクリプトが、例えば fopen または gzopen でファイルをオープン
	しようとした場合、そのファイルの位置が確認されます。
	ファイルが、指定したディレクトリツリーの外側にあった場合、
	PHP は、そのファイルのオープンを拒否します。
	シンボリックリンクは全て解釈されるので、symlink により
	制限を回避することは不可能です。
	</para>
 	<para>
	特別な値 <systemitem class="constant">.</systemitem>
 	は、スクリプトが置かれているディレクトリが
	基本ディレクトリとして使用されることを示します。
 	</para>
 	<para>
	Windows では、ディレクトリはセミコロンで区切ります。
	他の全てのシステムでは、ディレクトリは転んで区切ります。
	Apache モジュールと同様に、親ディレクトリからの
	open_basedir パスが自動的に継承されます。
	</para>
	  <note>
	  <para>PHP 3.0.7 から、複数ディレクトリのサポートが追加されています。</para>
	  </note>
	<para>
	デフォルトでは、全てのファイルのオープンが許可されています。
	</para>
       </listitem>
      </varlistentry>
      
      <varlistentry id="ini.gpc-order">
       <term>
	<parameter>gpc_order</parameter>
	<type>文字列</type>
       </term>
       <listitem>
	<para>
	GET/POST/COOKIE 変数処理の順番を設定します。
	この命令のデフォルトの設定は、"GPC" です。
	例えば、これを "GP" に PHP はクッキーを完全に無視し、
	GET メソッド変数を同名の POST メソッド変数で上書きします。
	</para>
       </listitem>
      </varlistentry>
      
       <varlistentry id="ini.ignore-user-abort">
        <term>
 	<parameter>ignore_user_abort</parameter>
 	<type>string</type>
        </term>
        <listitem>
 	<para>
	デフォルトで On です。 Off に変更した場合、スクリプトはクライアント
	が接続を切断した後で何かを出力しようとした直後に終了されます。
 	 <function>ignore_user_abort</function> も参照下さい。
 	</para>
        </listitem>
       </varlistentry>
       
      <varlistentry id="ini.include-path">
       <term>
	<parameter>include_path</parameter>
	<type>文字列</type>
       </term>
       <listitem>
	<para>
	 <function>require</function>、<function>include</function>、
	 および <function>fopen_with_path</function> 関数がファイルを
	 探すディレクトリのリストを指定します。
	 フォーマットは、システムの環境変数 <envar>PATH</envar> と
	 同じです。
	 つまり、UNIX ではコロンで、Windows ではセミコロンで区切った
	 ディレクトリのリストで指定します。
	 <example>
	  <title>UNIX include_path</title>
	  <programlisting role="php3.ini">
include_path=.:/home/httpd/php-lib
</programlisting>
	 </example>
	 <example>
	  <title>Windows include_path</title>
	  <programlisting role="php3.ini">
include_path=".;c:\www\phplib"
</programlisting>
	 </example>
	 この命令のデフォルト値は、<literal>.</literal> 
	 (カレントディレクトリのみ)です。</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.isapi-ext">
       <term>
	<parameter>isapi_ext</parameter>
	<type>文字列</type>
       </term>
       <listitem>
	<para>
	</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.log-errors">
       <term>
	<parameter>log_errors</parameter>
	<type>論理値</type>
       </term>
       <listitem>
	<para>
	スクリプトエラーメッセージをサーバーエラーログに
	記録する必要があるかどうかを指定します。
	このオプションは、サーバーの種類に依存します。</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.magic-quotes-gpc">
       <term>
	<parameter>magic_quotes_gpc</parameter>
	<type>論理値</type>
       </term>
       <listitem>
	<para>
	GPC  (Get/Post/Cookie) 命令に関する magic_quotes の状態を
	セットします。
	magic_quotes がオンの場合、' (シングルクオート)、
 	 &quot; (ダブルクオート)、\ (バックスラッシュ) 、NUL は
	 全て自動的にバックスラッシュでエスケープ処理されます。
	 magic_quotes_sybase もオンの場合、シングルクオートは、
	 バックスラッシュの代わりにシングルクオートでエスケープ
	 されます。
	</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.magic-quotes-runtime">
       <term>
	<parameter>magic_quotes_runtime</parameter>
	<type>論理値</type>
       </term>
       <listitem>
	<para>
 	 <parameter>magic_quotes_runtime</parameter> が有効の場合、
	 データベースおよびテクストファイルを含む外部ソースから
	 データを返す全ての関数のクオートは、バックスラッシュで
	 エスケープされます。
 	 <parameter>magic_quotes_sybase</parameter> もオンの場合、
	 シングルクオートは、バックスラッシュの代わりにシングルクオート
	 でエスケープされます。
	</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.magic-quotes-sybase">
       <term>
	<parameter>magic_quotes_sybase</parameter>
	<type>論理値</type>
       </term>
       <listitem>
	<para>
          <parameter>magic_quotes_gpc</parameter> または
          <parameter>magic_quotes_runtime</parameter> が有効の場合、
          <parameter>magic_quotes_sybase</parameter> もオンの場合に、
	  シングルクオートはバックスラッシュの代わりにシングルクオートで
	  エスケープされます。
	</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.max-execution-time">
       <term>
	<parameter>max_execution_time</parameter>
	<type>整数</type>
       </term>
       <listitem>
	<para>
	スクリプトがパーサにより強制終了されるまでに許容される
	最大の時間を秒単位で指定します。
	この命令は、いい加減に書かれたスクリプトがサーバーの負荷を
	上げることを防止するのに役立ちます。
	</para>
       </listitem>
      </varlistentry>
      
      <varlistentry id="ini.memory-limit">
       <term>
	<parameter>memory_limit</parameter>
	<type>整数</type>
       </term>
       <listitem>
	<para>
	スクリプトが確保できる最大メモリをバイト数で指定します。
	この命令は、いい加減に書かれたスクリプトがサーバーのメモリを
	食いつぶすことを防止するのに役立ちます。
	</para>
       </listitem>
      </varlistentry>
      
      <varlistentry id="ini.nsapi-ext">
       <term>
	<parameter>nsapi_ext</parameter>
	<type>文字列</type>
       </term>
       <listitem>
	<para>
	</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.short-open-tag">
       <term>
	<parameter>short_open_tag</parameter>
	<type>?理値</type>
       </term>
       <listitem>
	<para>
	PHP タグの短縮型 (<userinput>&lt;? ?&gt;</userinput> を使用可能に
	するかどうかを設定します。
	PHP を XML と組み合わせて用いる場合は、このオプションを
	オフにする必要があります。
	これをオフにした場合、長い方の形式のタグ	
	 (<userinput>&lt;?php ?&gt;</userinput>) を使用する必要
	 があります。</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.sql.safe-mode">
       <term>
	<parameter>sql.safe_mode</parameter>
	<type>論理値</type>
       </term>
       <listitem>
	<para>
	</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.track-errors">
       <term>
	<parameter>track_errors</parameter>
	<type>論理値</type>
       </term>
       <listitem>
	<para>
	このオプションを有効にした場合、最新のエラーメッセージを
	常にグローバル変数 <symbol>$php_errormsg</symbol>
	で参照することができます。</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.track-vars">
       <term>
	<parameter>track_vars</parameter>
	<type>論理値</type>
       </term>
       <listitem>
	<para>
	このオプションを有効にした場合、GET、POST、クッキー入力は、
	グローバル連想配列 <symbol>$HTTP_GET_VARS</symbol>、
	 <symbol>$HTTP_POST_VARS</symbol>、<symbol>$HTTP_COOKIE_VARS</symbol>
	 でそれぞれ参照することができます。</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.upload-tmp-dir">
       <term>
	<parameter>upload_tmp_dir</parameter>
	<type>文字列</type>
       </term>
       <listitem>
	<para>
	ファイルアップロード時にファイル保存に用いるテンポラリディレクトリ。
	PHP の実行ユーザーが書きこみ可能である必要があります。</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.user-dir">
       <term>
	<parameter>user_dir</parameter>
	<type>文字列</type>
       </term>
       <listitem>
	<para>
	PHP ファイルがユーザーのホームディレクトリとして使用する
	ディレクトリの名前。
	例えば、<literal>public_html</literal> となります。</para>
       </listitem>
      </varlistentry>

      <varlistentry id="ini.warn-plus-overloading">
       <term>
	<parameter>warn_plus_overloading</parameter>
	<type>論理値</type>
       </term>
       <listitem>
	<para>
	このオプションが有効の場合、
	PHP は、文字列中に (<literal>+</literal>) 演算子が使用されている
	場合に警告を出力します。
	これは、文字列結合演算子 (<literal>.</literal>) を替わりに用いて
	書きなおす必要があるスクリプトを発見しやすくするためのものです。</para>
       </listitem>
      </varlistentry>

     </variablelist>
    </para>
   </sect2>

   <sect2 id="ini.sect.mail">
    <title>メール設定用命令</title>
    <variablelist>

     <varlistentry id="ini.smtp">
      <term>
       <parameter>SMTP</parameter>
       <type>文字列</type>
      </term>
      <listitem>
       <para>
       Windows 版の PHP が <function>mail</function> 関数による
       メールの送信に使用する SMTP サーバーの DNS 名または IP アドレス。</para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.sendmail-from">
      <term>
       <parameter>sendmail_from</parameter>
       <type>文字列</type>
      </term>
      <listitem>
       <para>
       Windows 版の PHP から送信するメールにおいて
       "From:" に使用するメールアドレス。</para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.sendmail-path">
      <term>
       <parameter>sendmail_path</parameter>
       <type>文字列</type>
      </term>
      <listitem>
       <para>
	<command>sendmail</command> プログラムがある場所。
	通常は、
	<filename>/usr/sbin/sendmail</filename> または、
	<filename>/usr/lib/sendmail</filename> です。
	 <command>configure</command> が sendmail の場所を
	 探してくれますが、失敗する場合は、ここでそのパスをセットことが
	 可能です。</para>
       <para>
       sendmail を使用していないシステムは、替わりに動作させるマシンの
        メールシステムが
       提供する sendmail のラッパーまたは代替品をこの命令に指定する
       必要があります。
       例えば、
	<ulink url="&url.qmail;">Qmail</ulink> ユーザーは、
	通常、この命令に 
	<filename>/var/qmail/bin/sendmail</filename>
	をセットすることができます。</para>
      </listitem>
     </varlistentry>

    </variablelist>
   </sect2>

   <sect2 id="ini.sect.safe-mode">
    <title>セーフモード設定用命令</title>
    <variablelist>

     <varlistentry id="ini.safe-mode">
      <term>
       <parameter>safe_mode</parameter>
       <type>論理値</type>
      </term>
      <listitem>
       <para>
       PHP のセーフモードを有効にするかどうかを指定します。
       更に詳細情報については、
       <link linkend="security">セキュリティの章</link> 
       を参照下さい。</para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.safe-mode-exec-dir">
      <term>
       <parameter>safe_mode_exec_dir</parameter>
       <type>文字列</type>
      </term>
      <listitem>
       <para>
       PHP がセーフモードで動作している場合、システムプログラムを
       実行する <function>system</function> および他の関数
       は、このディレクトリにないプログラムの実行を拒否します。</para>
      </listitem>
     </varlistentry>

    </variablelist>
   </sect2>

   <sect2 id="ini.sect.debugger">
    <title>デバッガー設定用命令</title>
    <variablelist>

     <varlistentry id="ini.debugger.host">
      <term>
       <parameter>debugger.host</parameter>
       <type>文字列</type>
      </term>
      <listitem>
       <para>
       デバッガーにより使用されるホストの DNS 名または IP アドレス。</para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.debugger.port">
      <term>
       <parameter>debugger.port</parameter>
       <type>文字列</type>
      </term>
      <listitem>
       <para>
       デバッガにより使用されるポート番号。</para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.debugger.enabled">
      <term>
       <parameter>debugger.enabled</parameter>
       <type>論理値</type>
      </term>
      <listitem>
       <para>
       デバッガが有効かどうかを設定します。</para>
      </listitem>
     </varlistentry>

    </variablelist>
   </sect2>

   <sect2 id="ini.sect.extension">
    <title>拡張ロード命令</title>
    <variablelist>
     
      <varlistentry id="ini.enable-dl">
       <term>
 	<parameter>enable_dl</parameter>
 	<type>論理値</type>
       </term>
       <listitem>
 	<para>
	この命令は、Apache モジュール版の PHP を使用した場合にのみ
	有用です。
	PHP の動的ロード拡張機能を <function>dl</function> で
	仮想サーバー毎またはディレクトリ毎にオンまたはオフに変更することが
	できます。
 	</para>
 	<para>
	動的ロード機能をオフにするのは主としてセキュリティ上の理由によります。
	動的ロード機能により、
	safe_mode および open_basedir の拘束を全て無視することが
	可能になります。
 	</para>
 	<para>
	デフォルトでは、セーフモードを使用している場合以外、
	動的ロードが可能です。
	セーフモードにおいては、<function>dl</function>
	を使用することが常に不可能になります。
 	</para>
       </listitem>
      </varlistentry>
       
     <varlistentry id="ini.extension-dir">
      <term>
       <parameter>extension_dir</parameter>
       <type>文字列</type>
      </term>
      <listitem>
       <para>
       動的にロード可能な拡張モジュールを置くディレクトリを
       指定します。</para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.extension">
      <term>
       <parameter>extension</parameter>
       <type>文字列</type>
      </term>
      <listitem>
       <para>
       PHP の起動時にロードされる動的にロード可能な拡張モジュールを
       指定します。</para>
      </listitem>
     </varlistentry>
     
    </variablelist>
   </sect2>

   <sect2 id="ini.sect.mysql">
    <title>MySQL 設定用命令</title>
    <variablelist>
     
     <varlistentry id="ini.mysql.allow-persistent">
      <term>
       <parameter>mysql.allow_persistent</parameter>
       <type>論理値</type>
      </term>
      <listitem>
       <para>
       継続的な MySQL 接続を許可するかどうかを指定します。</para>
      </listitem>
     </varlistentry>

      <varlistentry id="ini.mysql.default-host">
       <term>
        <parameter>mysql.default_host</parameter>
        <type>string</type>
       </term>
       <listitem>
        <para>
	ホスト名が省略された場合にデータベースサーバーへの接続時に
	使用するデフォルトのサーバーホスト。
        </para>
       </listitem>
      </varlistentry>
      
      <varlistentry id="ini.mysql.default-user">
       <term>
        <parameter>mysql.default_user</parameter>
        <type>string</type>
       </term>
       <listitem>
        <para>
	ユーザー名が省略された場合にデータベースサーバーへの接続時に
	使用するデフォルトのユーザー名。
        </para>
       </listitem>
      </varlistentry>
      
      <varlistentry id="ini.mysql.default-password">
       <term>
        <parameter>mysql.default_password</parameter>
        <type>string</type>
       </term>
       <listitem>
        <para>
	パスワードが省略された場合にデータベースサーバーへの接続時に
	使用するデフォルトのパスワード。
        </para>
       </listitem>
      </varlistentry>
      
     <varlistentry id="ini.mysql.max-persistent">
      <term>
       <parameter>mysql.max_persistent</parameter>
       <type>整数</type>
      </term>
      <listitem>
       <para>
       継続的な MySQL 接続のプロセス毎の最大数。
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.mysql.max-links">
      <term>
       <parameter>mysql.max_links</parameter>
       <type>整数</type>
      </term>
      <listitem>
       <para>
       継続的な接続を含む MySQL 接続のプロセス毎の最大数。
       </para>
      </listitem>
     </varlistentry>
     
    </variablelist>
   </sect2>

   <sect2 id="ini.sect.msql">
    <title>mSQL 設定用命令</title>
    <variablelist>
     
     <varlistentry id="ini.msql.allow-persistent">
      <term>
       <parameter>msql.allow_persistent</parameter>
       <type>論理値</type>
      </term>
      <listitem>
       <para>
       継続的な mSQL 接続を許可するかどうかを指定します。
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.msql.max-persistent">
      <term>
       <parameter>msql.max_persistent</parameter>
       <type>整数</type>
      </term>
      <listitem>
       <para>
       継続的な mSQL 接続のプロセス毎の最大数。
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.msql.max-links">
      <term>
       <parameter>msql.max_links</parameter>
       <type>整数</type>
      </term>
      <listitem>
       <para>
       継続的な接続を含む mSQL 接続のプロセス毎の最大数。
       </para>
      </listitem>
     </varlistentry>
     
    </variablelist>
   </sect2>

   <sect2 id="ini.sect.pgsql">
    <title>Postgres 設定用命令</title>
    <variablelist>
     
     <varlistentry id="ini.pgsql.allow-persistent">
      <term>
       <parameter>pgsql.allow_persistent</parameter>
       <type>論理値</type>
      </term>
      <listitem>
       <para>
       継続的な Postgres 接続を許可するかどうかを指定します。
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.pgsql.max-persistent">
      <term>
       <parameter>pgsql.max_persistent</parameter>
       <type>整数</type>
      </term>
      <listitem>
       <para>
       継続的な Postgres 接続のプロセス毎の最大数。
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.pgsql.max-links">
      <term>
       <parameter>pgsql.max_links</parameter>
       <type>整数</type>
      </term>
      <listitem>
       <para>
       継続的な接続を含む Postgres 接続のプロセス毎の最大数。
       </para>
      </listitem>
     </varlistentry>
     
    </variablelist>
   </sect2>

   <sect2 id="ini.sect.sybase">
    <title>Sybase 設定用命令</title>
    <variablelist>
     
     <varlistentry id="ini.sybase.allow-persistent">
      <term>
       <parameter>sybase.allow_persistent</parameter>
       <type>論理値</type>
      </term>
      <listitem>
       <para>
       継続的な Sybase 接続を許可するかどうかを指定します。
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.sybase.max-persistent">
      <term>
       <parameter>sybase.max_persistent</parameter>
       <type>整数</type>
      </term>
      <listitem>
       <para>
       継続的な Sybase 接続のプロセス毎の最大数。
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.sybase.max-links">
      <term>
       <parameter>sybase.max_links</parameter>
       <type>整数</type>
      </term>
      <listitem>
       <para>
       継続的な接続を含む Sybase 接続のプロセス毎の最大数。
       </para>
      </listitem>
     </varlistentry>
     
    </variablelist>
   </sect2>

   <sect2 id="ini.sect.sybct">
    <title>Sybase-CT 設定用命令</title>
    <variablelist>
     
     <varlistentry id="ini.sybct.allow-persistent">
      <term>
       <parameter>sybct.allow_persistent</parameter>
       <type>論理値</type>
      </term>
      <listitem>
       <para>
       継続的な Sybase-CT 接続を許可するかどうかを指定します。
       デフォルトは、オンです。
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.sybct.max-persistent">
      <term>
       <parameter>sybct.max_persistent</parameter>
       <type>整数</type>
      </term>
      <listitem>
       <para>
       継続的な Sybase-CT 接続のプロセス毎の最大数。
       デフォルトは、制限無しを意味する -1 です。 
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.sybct.max-links">
      <term>
       <parameter>sybct.max_links</parameter>
       <type>整数</type>
      </term>
      <listitem>
       <para>
       継続的な接続を含む Sybase-CT 接続のプロセス毎の最大数。
       デフォルトは、制限無しを意味する -1 です。 
        </para>
       </listitem>
      </varlistentry>
      
      <varlistentry id="ini.sybct.min-server-severity">
       <term>
        <parameter>sybct.min_server_severity</parameter>
        <type>整数</type>
       </term>
       <listitem>
        <para>	
         sybct.min_server_severity 以上の警告レベルを有する
	 サーバーメッセージは、警告としてレポートされます。
	 この値は、スクリプトから
         <function>sybase_min_server_severity</function> を
	 コールすることによりセットすることが可能です。
	 デフォルトでは、エラーをレポートする警告レベルは、
	 10 以上です。
        </para>
       </listitem>
      </varlistentry>
      
      <varlistentry id="ini.sybct.min-client-severity">
       <term>
        <parameter>sybct.min_client_severity</parameter>
        <type>整数</type>
       </term>
       <listitem>
        <para>
	警告レベルが、sybct.min_client_severity 以上の
	クライアントライブラリのメッセージは、警告としてレポートされます。
	この値は、スクリプトから
         <function>sybase_min_client_severity</function> をコールする
	 ことによりセットすることが可能です。
	 デフォルトは 10 であり、効率的にレポートを抑制して行うようにしています。
        </para>
       </listitem>
      </varlistentry>
      
      <varlistentry id="ini.sybct.login-timeout">
       <term>
        <parameter>sybct.login_timeout</parameter>
        <type>整数</type>
       </term>
       <listitem>
        <para>
	
	接続を行う際に接続失敗を返すまでの最大の秒数。
	ある接続がタイムアウトしようとした時に
         max_execution_time を超えた場合、接続失敗の処理を行う前に
	 スクリプトは終了することに注意して下さい。
	 デフォルトは、一分です。
        </para>
       </listitem>
      </varlistentry>
      
      <varlistentry id="ini.sybct.timeout">
       <term>
        <parameter>sybct.timeout</parameter>
        <type>integer</type>
       </term>
       <listitem>
        <para>
         select_db またはクエリー命令を実行する際に実行失敗を
	 返す前の最大の秒数。
	 ある命令がタイムアウトした時に、max_execution_time を超えた場合、
	 動作失敗の処理を行う前にスクリプトは終了することに注意して下さい。
	 デフォルトは、制限無しです。
        </para>
       </listitem>
      </varlistentry>
      
      <varlistentry id="ini.sybct.hostname">
       <term>
        <parameter>sybct.hostname</parameter>
        <type>文字列</type>
       </term>
       <listitem>
        <para>
	sp_who により表示される際に使用される接続元のホスト名。
	デフォルトは、none です。
       </para>
      </listitem>
     </varlistentry>
     
    </variablelist>
   </sect2>

   <sect2 id="ini.sect.informix">
    <title>Informix 設定用ディレクティブ</title>
    <variablelist>
     
     <varlistentry id="ini.ifx.allow-persistent">
      <term>
       <parameter>ifx.allow_persistent</parameter>
       <type>boolean</type>
      </term>
      <listitem>
       <para>
       持続的接続を許可するか否か
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.ifx.max-persistent">
      <term>
       <parameter>ifx.max_persistent</parameter>
       <type>integer</type>
      </term>
      <listitem>
       <para>
       プロセス毎のInformix持続的接続の最大数
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.ifx.max-links">
      <term>
       <parameter>ifx.max_links</parameter>
       <type>integer</type>
      </term>
      <listitem>
       <para>
       持続的接続を含む
       プロセス毎のInformix接続の最大数。
       </para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.ifx.default-host">
      <term>
       <parameter>ifx.default_host</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
        <function>ifx_connect</function> または
        <function>ifx_pconnect</function> において
       ホスト名を省略した場合に接続するデフォルトのホスト。
       </para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.ifx.default-user">
      <term>
       <parameter>ifx.default_user</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
        <function>ifx_connect</function> または
        <function>ifx_pconnect</function> において
       省略した場合に使用するデフォルトのユーザーID。
       </para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.ifx.default-password">
      <term>
       <parameter>ifx.default_password</parameter>
       <type>string</type>
      </term>
      <listitem>
       <para>
        <function>ifx_connect</function> または
        <function>ifx_pconnect</function> において
       省略した場合に使用するデフォルトのパスワード。
       </para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.ifx.blobinfile">
      <term>
       <parameter>ifx.blobinfile</parameter>
       <type>boolean</type>
      </term>
      <listitem>
       <para>
       ファイルに blob カラムを返したい場合に TRUE、
       メモリに返したい場合に FALSEを設定します。
        <function>ifx_blobinfile_mode</function> により
       実行時に設定を上書きできます。
       </para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.ifx.textasvarchar">
      <term>
       <parameter>ifx.textasvarchar</parameter>
       <type>boolean</type>
      </term>
      <listitem>
       <para>
       selectクエリーにおいてTEXTカラムを通常の文字列として返したい場合には
       TRUE、BLOB IDパラメータを使用したい場合はFALSEを設定します。
       <function>ifx_textasvarchar</function>により実行時に
       設定を上書きできます。
       </para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.ifx.byteasvarchar">
      <term>
       <parameter>ifx.byteasvarchar</parameter>
       <type>boolean</type>
      </term>
      <listitem>
       <para>
       selectクエリーにおいてBYTEカラムを通常の文字列として返したい場合には
       TRUE、BLOB IDパラメータを使用したい場合はFALSEを設定します。
       <function>ifx_textasvarchar</function>により実行時に
       設定を上書きできます。
       </para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.ifx.charasvarchar">
      <term>
       <parameter>ifx.charasvarchar</parameter>
       <type>boolean</type>
      </term>
      <listitem>
       <para>
       CHARカラムを取得する際に末尾の空白文字を取り除きたい場合には、
       TRUEを設定します。
       </para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.ifx.nullformat">
       <term>
       <parameter>ifx.nullformat</parameter>
       <type>boolean</type>
      </term>
      <listitem>
       <para>
       NULLカラムをリテラル文字列"NULL"として返したい場合にはTRUE、
       空の文字列""として返したい場合にはFALSEを設定します。
        <function>ifx_nullformat</function>により実行時に設定を
	上書きできます。
       </para>
      </listitem>
     </varlistentry>


    </variablelist>
   </sect2>

   <sect2 id="ini.sect.bcmath">
    <title>BC Math 設定用命令</title>
    <variablelist>
     
     <varlistentry id="ini.bcmath.scale">
      <term>
       <parameter>bcmath.scale</parameter>
       <type>整数</type>
      </term>
      <listitem>
       <para>
       全ての bcmath 関数で使用する 10 進桁数。
       </para>
      </listitem>
     </varlistentry>
     
    </variablelist>
   </sect2>

   <sect2 id="ini.sect.browscap">
    <title>ブラウザ機能設定用命令</title>
    <variablelist>
     
     <varlistentry id="ini.browscap">
      <term>
       <parameter>browscap</parameter>
       <type>文字列</type>
      </term>
      <listitem>
       <para>
       ブラウザ機能ファイルの名前。<function>get_browser</function>
       も参照下さい。
! 		
       </para>
      </listitem>
     </varlistentry>
     
    </variablelist>
   </sect2>

   <sect2 id="ini.sect.uodbc">
    <title>Unified ODBC 設定用命令</title>
    <variablelist>
     
     <varlistentry id="ini.uodbc.default-db">
      <term>
       <parameter>uodbc.default_db</parameter>
       <type>文字列</type>
      </term>
      <listitem>
       <para>
	<function>odbc_connect</function> または
	<function>odbc_pconnect</function> のどちらも指定されていない
	場合に使用するODBC データソース。
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.uodbc.default-user">
      <term>
       <parameter>uodbc.default_user</parameter>
       <type>文字列</type>
      </term>
      <listitem>
       <para>
	<function>odbc_connect</function> または
	<function>odbc_pconnect</function> のどちらも指定されていない
	場合に使用するユーザ名。
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.uodbc.default-pw">
      <term>
       <parameter>uodbc.default_pw</parameter>
       <type>文字列</type>
      </term>
      <listitem>
       <para>
	<function>odbc_connect</function> または
	<function>odbc_pconnect</function> のどちらも指定されていない
	場合に使用するパスワード。
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.uodbc.allow-persistent">
      <term>
       <parameter>uodbc.allow_persistent</parameter>
       <type>論理値</type>
      </term>
      <listitem>
       <para>
       継続的な ODBC 接続を許可するかどうか指定します。
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.uodbc.max-persistent">
      <term>
       <parameter>uodbc.max_persistent</parameter>
       <type>integer</type>
      </term>
      <listitem>
       <para>
       継続的な ODBC 接続のプロセス毎の最大数。
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.uodbc.max-links">
      <term>
       <parameter>uodbc.max_links</parameter>
       <type>integer</type>
      </term>
      <listitem>
       <para>
	継続的な接続を含むODBC接続のプロセス毎の最大数。
       </para>
      </listitem>
     </varlistentry>
     
    </variablelist>
   </sect2>

   <sect2 id="ini.sect.i18n">
    <title>国際化（日本語）関数 設定用命令</title>
    <variablelist>

     <varlistentry id="ini.i18n.http-input">
      <term>
       <parameter>i18n.http_input</parameter>
       <type>文字列</type>
      </term>
      <listitem>
       <para>
	HTTPからの入力コードを指定します。pass（無変換）またはauto 
	（自動変換）を指定します。指定しない場合は、auto となります。
       </para>
       <para>
       この設定は国際化機能を有効にしてPHPをコンパイルした場合にのみ有効です。
       </para>
      </listitem>
     </varlistentry>
     
     <varlistentry id="ini.i18n.http-output">
      <term>
       <parameter>i18n.http_output</parameter>
       <type>文字列</type>
      </term>
      <listitem>
       <para>
       デフォルトのHTTP出力コードを指定します。
       EUC,SJIS,JIS,UTF-8,pass（無変換）のどれかを指定します。
       指定がない場合は無変換となります。
       （内部コードがそのまま出力されます。）
       </para>
       <para>
       この設定は国際化機能を有効にしてPHPをコンパイルした場合にのみ有効です。
       </para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.i18n.internal-encoding">
      <term>
       <parameter>i18n.internal_encoding</parameter>
       <type>文字列</type>
      </term>
      <listitem>
       <para>
       i18n.internal_encoding 内部コードを指定します。
       EUC,SJIS,UTF-8 のどれかを指定します。
       </para>
       <para>
       この設定は国際化機能を有効にしてPHPをコンパイルした場合にのみ有効です。
       </para>
      </listitem>
     </varlistentry>

     <varlistentry id="ini.i18n.script-encoding">
      <term>
       <parameter>i18n.script_encoding</parameter>
       <type>文字列</type>
      </term>
      <listitem>
       <para>
       スクリプトファイル中のコードを指定します。EUC,SJIS,JIS,UTF-8,
       autoを指定します。auto （デフォルト）を指定した場合は、自動
       判定を行います。
       </para>
       <para>
       この設定は国際化機能を有効にしてPHPをコンパイルした場合にのみ有効です。
       </para>
      </listitem>
     </varlistentry>
     
    </variablelist>
   </sect2>

  </sect1>



 </chapter>

<!-- Keep this comment at the end of the file
Local variables:
mode: sgml
sgml-omittag:t
sgml-shorttag:t
sgml-minimize-attributes:nil
sgml-always-quote-attributes:t
sgml-indent-step:1
sgml-indent-data:t
sgml-parent-document:nil
sgml-default-dtd-file:"../../manual.ced"
sgml-exposed-tags:nil
sgml-local-catalogs:nil
sgml-local-ecat-files:nil
End:
-->
